[Interface]
Address = #vpn_local_tun_ip
PrivateKey = #vpn_local_private_key
ListenPort = #vpn_port

[Peer]
Endpoint = #vpn_peer_ip
PublicKey = #vpn_peer_pubic_key
AllowedIPs = #vpn_allowed_ips
PersistentKeepalive = 25
